<!-- <%- include('./layout/header') %> -->
<html>
<head>
    <body>
        <h1>u r in worng url nothing in this url <h1>
        <a href="/">go to main</main>

<img src="../public/images/tala.gif">
</body>
</html>