<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <style>
        div.bar{
            background-color: rgb(207, 150, 85);
            overflow: hidden;
        }
        .bar a{
            float: left;
            color: black;
            padding: 14px 16px;
            text-decoration: none;
        }
        .bar a:hover{
            background-color: tomato;
            color: aliceblue;
        }
        h1.he{
            text-align: center;
        }
        
        body{
            background: #9e8888;
            flex-shrink: 0; 
        }
        div.tablebox{
            border-radius: 1%;
            background: linear-gradient(180deg, #827070 0%, rgba(108, 93, 93, 0.00) 100%);
            /* flex-shrink: 0;  */
        }
    
    </style> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/style.css" rel="stylesheet" type="text/css" />

    <title>kncc tec</title>
    <link rel="icon" type="image/x-icon" href="../public/images/logo1.ico">
</head>
<body>
    <!-- <script>
        function autoRefresh() {
            window.location = window.location.href;
        }
        setInterval('autoRefresh()', 60*10000);
    </script> -->

    
    <header>
        <!-- <h1 class="he">welcome to kncc</h1> -->
        <div class="bar">
            <a class="home" href="/">Home</a>
            <a href="/portal">portal</a>
            <a href="/upd">upload</a>
            <a href="/devinfo">se the dev info</a>
            <a href="/addteacher">see tescher info</a>
        </div>
    </header>
